.bar a.item{
    font-size: 25px;
    transition: background-color 450ms;
    transition: border-radius 300ms;
}
body{
    background-color: gray;
}
.nav{
    position: fixed;
    height: 100%;
    align-items: center;
    margin-left: 5px;
}
.bar{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.500);
}
.bar a.item:hover, .bar a.item:active, .bar a.item.active {
    background-color: rgba(0, 0, 0, 0.300);
}
.bar a.item:link, .bar a.item:visited{
    color: white;
}
.icon {
  width: 40px;
}
*{
    margin: 0;
}
