@font-face {
    font-family: Corbel;
    src: url("Fonts/Corbel/corbel.ttf");
}
* {
    font-family: Corbel, sans-serif;
}
.bar{
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.bar .item{
    display: flex;
    vertical-align: middle;
    padding: 10px;
    border-radius: 15px;
    justify-content: center;
}
.bar a.item:link, .bar a.item:visited{
    text-decoration: none;
}
.bar a.item:hover{
    border-bottom: 5px black;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: center;
}
.center{
    text-align: center;
}
.container{
    width: 80%;
    min-height: 450px;
    margin: 0 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.container.col{
    flex-direction: column;
}
.container h1{
    font-size: 50px;
    margin: 0;
}
.container h6{
    font-size: 20px;
    margin: 0;
}
.container .title.bottom {
    vertical-align: bottom;
}
.container .title.right {
    float: right;
}
.bar a.item:active{
    border-radius: 0px;
}
.hslide img {
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
<<<<<<< HEAD
=======
a.button{
    display: block;
    border-radius: 15px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    min-width: min-content;
}
a.button .alt{
    font-weight: normal;
    font-size: 20px;
}
>>>>>>> 0e1c7b91d184ea921497fcbb31ec14bb36b76ebc
