@font-face {
    font-family: Corbel;
    src: url("Fonts/Corbel/corbel.ttf");
}
* {
    font-family: Corbel, sans-serif;
}
.bar{
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 5px;
    display: inline-flex;
    align-items: center;
}
.bar .item{
    display: inline-flex;
    vertical-align: middle;
    padding: 10px;
    border-radius: 15px;
}
.bar a.item:link, .bar a.item:visited{
    text-decoration: none;
}
.nav{
    position: fixed;
    display: inline-flex;
    justify-content: center;
}
.center{
    text-align: center;
}
.container{
    width: 100%;
    min-height: 400px;
}
.container h1{
    font-size: 50px;
    margin: 0;
}
.container h6{
    font-size: 20px;
    margin: 0;
}
.container .title {
}
.bar a.item:active{
    border-radius: 0px;
}
.hslide img {
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}